<div id="navigation">
	<ul>
		<li id="nav-items"><%= link_to 'Items', items_path, :style => 'margin-right: 0px' %> <%= link_to '[+]', new_item_path, :class => 'no-arrow' %>
		<li id="nav-references"><%= link_to 'References', references_path %>
		<li id="nav-categories"><%= link_to 'Categories', categories_path %>
	</ul>
</div>